body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f9; /* Couleur de fond légère */
  margin: 0;
  padding: 0;
  color: #333; /* Couleur de texte sombre mais douce */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
